// Theme Colors
$primary-color : #A65D03;
$secondary-color: #592A0F;
$white-color: #ffffff;
$gray: #D8D7D7;
$darkgray: #ACA7A7;
$darkergray: #3E3636;
$darkbluegreen: #1E2D39;
$figmablack: #262626;
$lightblue: #E5EEF2;
$newheader: #592A0F;
$btn-color: #F3CF0F;
$btn-hovercolor: #A65D03;

// Theme Fonts
$primary-font : 'Castoro';
$secondary-font : 'Inter';